.nano-cta-class-wrapper {

     @include breakpoint (max-xl){
        padding: 80px 0;
    }

    .girl-image {
        margin-bottom: -5px;

        @include breakpoint (max-xxl){
            img {
                @include imgw;
            }
        }

        @include breakpoint (max-xl){
            display: none;
        }

        &.style-2 {
            @include breakpoint (max-xl4){
               margin-left: -100px;
            }

             @include breakpoint (max-xxxl){
               margin-left: -150px;
            }

             @include breakpoint (max-xxl){
               margin-left: -75px;
            }
        }
    }

    .content {
        @include breakpoint (max-xxl){
            margin-top: -30px;
        }

        @include breakpoint (max-xxl){
            margin-top: 0;
        }

        .theme-nanon {
            background-color: $white;
            color: $header-color;
            margin-top: 50px;

            i {
                background-color: $theme-color-2;
                color: $theme-color;
            }

            &::before {
                background-color: $theme-color-2;
            }

            &:hover {
                color: $header-color;

                i {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}

.nano-cta-clases-section {
    position: relative;
    margin-top: 170px;

    @include breakpoint (max-xxl){
        margin-top: 140px;
    }

    @include breakpoint (max-xl){
       margin-top: 120px;
    }

     @include breakpoint (max-lg){
       margin-top: 100px;
    }

    .line-top {
        position: absolute;
        top: -145px;
        left: 0;
        height: 145px;
       
    }
}

.nano-cta-new-wrapper {
    padding: 120px 30px;
    text-align: center;
    border-radius: 30px;
    overflow: hidden;

    @include breakpoint (max-xl){
       padding-top: 100px;
       padding-bottom: 100px;
    }

     @include breakpoint (max-lg){
       padding-top: 80px;
       padding-bottom: 80px;
    }
    

    h2 {
        font-size: 70px;
        font-weight: 700;
        max-width: 936px;
        margin: 0 auto;

         @include breakpoint (max-xl){
            font-size: 58px;
        }

         @include breakpoint (max-md){
            font-size: 42px;
        }

        @include breakpoint (max-sm){
            font-size: 38px;
        }

         @include breakpoint (max-xxs){
            font-size: 32px;
        }
    }

    form {
        max-width: 650px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-top: 50px;

        @include breakpoint (max-xl){
            margin-top: 30px;
        }

        .theme-nanon {
            display: inline-block;
            background-color: $theme-color;
            color: $white;
            border-radius: 6px;
            padding: 19px 20px;
            position: absolute;
            top: 6px;
            right: 8px;
            line-height: 1;
            font-size: 16px;
            font-weight: 600;
        }

        input {
            width: 100%;
            outline: none;
            border-radius: 10px;
            background-color: $white;
            font-size: 15px;
            padding: 24px 20px;
            line-height: 1;
            color: $header-color;
            border: none;

            &::placeholder {
                color: $header-color;
            }
        }
    }
}

.nano-cta-new-wrapper {
    position: relative;
    z-index: 9;

    .nano-cta-shape-1 {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .nano-cta-shape-2 {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 30px;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .nano-cta-shape-3 {
        position: absolute;
        z-index: -1;
        bottom: 22%;
        right: 10%;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}