
//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
	.main-menu {
		ul {
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 45px;
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: -0.34px;
				color:  $header-color;
                font-family: $heading-font;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: capitalize;
				@include transition;

				i {
					margin-left: 4px;
                    font-size: 14px;
				}
	
				&:hover {
					color: $theme-color !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 115%;
				inset-inline-start: 0;
				min-width: 260px;
				padding: 20px 0;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 4px solid $theme-color-2;
				background-color: $white;
				box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 16px;
						font-weight: 500;
						letter-spacing: -0.34px;
						color: $header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
                        padding-right: 22px;
						width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 1300px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -250px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				@include breakpoint (max-xxl){
					width: 1000px;
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;

					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}

	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
	}
}


//>>>>> Header 01 Start <<<<<//

.header-top-section {
    border-bottom: 1px solid rgba(108, 112, 111, 0.30);
    padding: 12px 0;
    overflow: hidden;

    @include breakpoint (max-xl){
        display: none;
    }

    .container-fluid {
        padding: 0 100px;

        @include breakpoint (max-xxxl){
            padding: 0 50px;
        }

        @include breakpoint (max-xxl){
            padding: 0 40px;
        }

        @include breakpoint (max-xl){
            padding: 0 30px;
        }
    }

    .header-top-wrapper {
        @include flex;
        justify-content: space-between;

        ul {
            @include flex;
            gap: 20px;

            li {
                color: $header-color;
                font-size: 16px;

                &:not(:last-child){
                    border-right: 1px solid #162726;
                    padding-right: 20px;
                }

                i {
                    margin-right: 9px;
                }
            }
        }

         .social-icon {
            @include flex;
            gap: 10px;
            a {
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                display: inline-block;
                border-radius: 50%;
                border: 1px solid $text-color;
                text-align: center;
                color: $text-color;
                font-size: 14px;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                    border: 1px solid $theme-color;
                    opacity: 1;
                }
            }
        }
    }
}

.header-1 {
    position: relative;
    z-index: 99999;

    .logo-shape {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -1;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

     @include breakpoint (max-xxl){
       .header-logo2 {
         display: none;
       }
    }

    .header-logo {
        display: none;

         @include breakpoint (max-xxl){
            display: block;
        }
    }

    .container-fluid {
        padding: 0 100px;

        @include breakpoint (max-xxxl){
            padding: 0 50px;
        }

        @include breakpoint (max-xxl){
            padding: 0 40px;
        }

        @include breakpoint (max-xl){
            padding: 0 30px;
        }

		 @include breakpoint (max-xxs){
            padding: 0 15px;
        }
    }

    .header-right {
        .search-toggler {
            background-color: transparent;
            border: 1px solid rgba(20, 20, 20, 0.20);
            width: 52px;
            height: 52px;
            line-height: 52px;
            text-align: center;
            border-radius: 50%;
        }

        .sidebar__toggle {
            color: $header-color;
        }

        .theme-nanon {
            @include breakpoint (max-xl){
                 display: none;
            }
        }
    }

	.header-right-items {
		@include flex;
		gap: 100px;

		@include breakpoint (max-xxxl){
			gap: 50px;
		}
	}
}

.header-2 {
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 99999;
	width: 100%;

	@include breakpoint (max-md){
		top: 15px;
	}

	.mega-menu-wrapper {
		background-color: $white;
		padding-left: 30px;
		padding-right: 30px;
		border-radius: 100px;

		@include breakpoint (max-md){
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.logo {
		@include flex;
		gap: 50px;
	}

	.header-right-items {
		gap: 80px;

		@include breakpoint (max-xxxl){
			gap: 50px;
		}
	}


	.category-oneadjust {
		border-radius: 30px;
		background: #F2F4F7;
		@include flex;
		padding: 10px 18px;
		line-height: 1;

		@include breakpoint (max-xxl){
			display: none;
		}

		.single-select {
			border: none;
			background-color: transparent;
			line-height: initial;
			height: initial;
			font-size: 16px;
			font-weight: 500;
			font-family: $heading-font;
			color: $header-color;
			padding-right: 28px;

			&::after {
				right: 0;
				border-bottom: 2px solid $header-color;
				border-right: 2px solid $header-color;
				width: 8px;
				height: 8px;
			}
		}
	}
}

.header-3 {
	
	.logo {
		@include flex;
		gap: 50px;
	}

	.category-oneadjust {
		border-radius: 30px;
		background: #F2F4F7;
		@include flex;
		padding: 10px 18px;
		line-height: 1;

		@include breakpoint (max-xxl){
			display: none;
		}

		.single-select {
			border: none;
			background-color: transparent;
			line-height: initial;
			height: initial;
			font-size: 16px;
			font-weight: 500;
			font-family: $heading-font;
			color: $header-color;
			padding-right: 28px;

			&::after {
				right: 0;
				border-bottom: 2px solid $header-color;
				border-right: 2px solid $header-color;
				width: 8px;
				height: 8px;
			}
		}
	}
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: all 0.9s;
    background-color: $white;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

//>>>>> Offcanvas Start <<<<<//


//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 9999999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	// &::-webkit-scrollbar {
	// 	display: none;
	// }
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__logo {
	a {
		img {
			width: 150px;
		}
	}
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas-title {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.offcanvas__content {
		p {
			color: $header-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}

		.social-icon {
			margin-top: 30px;
			gap: 10px;
			margin-bottom: 30px;

			a {
				width: 52px;
				height: 52px;
				line-height: 52px;
				text-align: center;
				font-size: 16px;
				display: block;
				background: transparent;
				color: $header-color;
				-webkit-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
				text-align: center;
				border: 1px solid $border-color;
                border-radius: 50%;

				&:hover {
					background-color: $theme-color;
					color: $white;
					border: 1px solid $theme-color;
				}
			}
		}

		.offcanvas__contact {
			margin-top: 20px;
			margin-bottom: 40px;

			h3 {
				font-size: 24px;
				margin-bottom: 15px;
			}

			.contact-list {
				li {
					font-size: 16px;
					color: $header-color;

					&:not(:last-child){
						margin-bottom: 10px;
					}

					span {
						font-weight: 600;
						color: $header-color;
						font-size: 18px;
					}

					a {
						font-size: 16px;
						color: $header-color;
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				@include flex;
			}
		}

		.offcanvas-gallery-area {
			margin-top: 30px;
			.offcanvas-gallery-items {
				@include flex;
				gap: 20px;

				&:not(:last-child){
					margin-bottom: 20px;
				}

				.offcanvas-image {
					width: 100px;
					height: 100px;
					overflow: hidden;
					border-radius: 0;
				}
			}
		}

		.theme-nanon {
			text-align: center;
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 350px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}



//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
    z-index: 9;

    @include breakpoint (max-xxl){
        margin-bottom: 0;
    }

     .bottom-shape {
        height: 72px;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        z-index: 12;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

	.page-heading{
		position: relative;
		padding: 140px 0 140px;
		z-index: 9;
        text-align: center;

		@include breakpoint (max-lg){
			padding: 120px 0 120px;
		}

		@include breakpoint (max-md){
			text-align: center;
		}

		h1 {
			color: $white;
			font-size: 80px;
			position: relative;
			text-transform: capitalize;
			z-index: 9;
            font-weight: 700;
		
		
			@include breakpoint(max-xl){
				font-size: 60px;
			}
		
			@include breakpoint(max-sm){
				font-size: 45px;
			}
	

		}

		.breadcrumb-items{
			display: inline-flex;
            justify-content: center;
			margin-top: 30px;
			gap: 10px;
            border-radius: 30px;
            background: rgba(255, 255, 255, 0.10);
            padding: 15px 28px;
            line-height: 1;

			@include breakpoint (max-sm){
				margin-top: 20px;
			}
			
			li{
				color: $white;
				text-transform: capitalize;
				font-weight: 400;
				font-size: 16px;
				line-height: 1.4;
	
				a {
					color: $white;
					@include transition;
	
					&:hover{
						color: $theme-color-2;
					}

					i {
						color: $theme-color;
						margin-right: 5px;
					}
				}
	
				i {
					color: $white;
				}
			}
		}
	}

	.breadcrumb-image {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 140px;

		@include breakpoint (max-xxxl){
			right: 30px;
		}

		@include breakpoint (max-xl){
			display: none;
		}
	}
}

.error-items {
	text-align: center;

	.thumb {
		max-width: 700px;
		margin: 0 auto;

		img {
			@include imgw;
		}
	}

    .theme-nanon {
        margin-top: 60px;

        i {
            transform: rotate(-40deg);
            @include transition;
            font-weight: 600;
        }
    }
}