.bt-project-wrapper-2 {
    .nav {
        border-radius: 30px;
        border: 1px solid rgba(108, 112, 111, 0.50);
        background: transparent;
        display: flex;
        align-items: center;
        max-width: 805px;
        margin: 30px auto 30px;

        @include breakpoint (max-xl){
           flex-wrap: wrap;
           border: none;
           padding: 20px;
           gap: 30px;
           justify-content: center;
           text-align: center;
        }

        .nav-item  {
            .nav-link {
                font-size: 16px;
                font-weight: 600;
                font-family: $heading-font;
                color: $white;
                padding: 20px 32px;
                line-height: 1;
                text-align: center;

                @include breakpoint (max-xl){
                    border: 1px solid rgba(108, 112, 111, 0.50);
                    border-radius: 30px;
                }

                &.active {
                    background-color: $theme-color-2;
                    border-radius: 30px;
                    color: $header-color;
                }
            }
        }
    }

    .bt-project-long-image {
        position: relative;
        margin-top: 30px;
        z-index: 9;

        .circle-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: $theme-color-2;
            width: 54px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            border-radius: 50%;
            color: $theme-color;
            opacity: 0;
            visibility: hidden;
        }

        img {
            @include imgw;
            border-radius: 18px;
        }

        &::before {
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            background: linear-gradient(180deg, rgba(20, 21, 25, 0.00) 0%, #141519 100%);
            position: absolute;
            opacity: 0;
            visibility: hidden;
            @include transition;
            border-radius: 18px;
        }

        .bt-project-content-items {
            @include flex;
           justify-content: space-between;
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
            opacity: 0;
            visibility: hidden;
            @include transition;
            z-index: 1;

            .bt-content {
                h3 {
                    a {
                        color: $white;
                    }
                }
            }

        }

        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }

            .circle-icon {
                opacity: 1;
                visibility: visible;
            }

            .bt-project-content-items {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .bt-project-image {
        position: relative;
        margin-top: 30px;
        z-index: 9;
        height: 380px;

        @include breakpoint (max-xxl){
            height: 295px;
        }

        img {
            @include imgw;
            border-radius: 18px;
            object-fit: cover;
        }

        .circle-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: $theme-color-2;
            width: 54px;
            height: 54px;
            line-height: 54px;
            text-align: center;
            border-radius: 50%;
            color: $theme-color;
            opacity: 0;
            visibility: hidden;

            @include breakpoint (max-xxl){
               top: 30%;
            }
        }

        &::before {
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            background: linear-gradient(180deg, rgba(20, 21, 25, 0.00) 0%, #141519 100%);
            position: absolute;
            opacity: 0;
            visibility: hidden;
            @include transition;
            border-radius: 18px;
        }

        .bt-project-content-items {
            @include flex;
            justify-content: space-between;
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
            opacity: 0;
            visibility: hidden;
            @include transition;
            z-index: 1;

            .bt-content {
                h3 {
                    a {
                        color: $white;
                    }
                }
            }

            .circle-shape {
                background-color: $white;
                width: 54px;
                height: 54px;
                line-height: 54px;
                text-align: center;
                border-radius: 50%;

                i {
                    color: $theme-color;
                }
            }

        }

        &:hover {

            &::before {
                opacity: 1;
                visibility: visible;
            }
            .bt-project-content-items {
                opacity: 1;
                visibility: visible;
            }

            .circle-icon {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.bt-project-section-2 {
    position: relative;
    margin-top: 15px;
    padding-bottom: 260px !important;
    margin-bottom: -40px;
    padding-top: 120px !important;

    @include breakpoint (max-xxxl){
        padding-top: 120px !important;
    }

    @include breakpoint (max-xl){
        padding-top: 120px !important;
        padding-bottom: 240px !important;
    }

     @include breakpoint (max-lg){
        padding-top: 100px !important;
        padding-bottom: 220px !important;
    }

    .line-top {
        position: absolute;
        top: -40px;
        left: 0;
        height: 92px;
       
        @include breakpoint (max-lg){
            top: -13px;
        }
    }

    .line-bottom {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 138px;
    }
}