.section-title-area {
    .bt-testimonial-author-items {
        @include flex;
        gap: 30px;

         @include breakpoint(max-xl){
            flex-wrap: wrap;
            gap: 15px;
            
        }

        .bt-testimonial-author {
            @include flex;
            gap: 20px;
            

            .icon {
                width: 56px;
                height: 56px;
                line-height: 56px;
                background-color: #F2F4F7;
                text-align: center;
                border-radius: 8px;
            }
        }
    }
}

.bt-testimonial-box-items {
    border-radius: 18px;
    background: #F2F4F7;
    padding: 40px 36px;
    margin-top: 30px;

    @include breakpoint(max-xxl){
		padding: 30px;
	}

    @include breakpoint(max-md){
		padding: 28px;
	}

     @include breakpoint(max-sm){
		padding: 24px;
	}

    h4 {
        font-size: 21px;
        font-weight: 400;
        color: #27282C;
        margin-top: 40px;
        line-height: 167%;

        @include breakpoint(max-xxl){
           font-size: 21px;
        }

         @include breakpoint(max-md){
            font-size: 19px;
            margin-top: 25px;
        }

         @include breakpoint(max-sm){
            font-size: 17px;
        }
    }

    .client-info {
        @include flex;
        gap: 20px;
        margin-top: 30px;

         @include breakpoint(max-sm){
            margin-top: 20px;
        }
    }  

}

.bt-testimonial-box-2 {
    border-radius: 18px;
    background: $white;
    padding: 50px 40px;
    margin-top: 30px;
    text-align: center;

    .star {
        color: rgba(236, 176, 20, 1);
    }

    h3 {
        font-weight: 400;
        font-family: "Open Sans";
        margin-top: 20px;
    }
}

.testimonial-thumbs {
    max-width: 400px;
    overflow: hidden;
    margin-top: 30px;

    .bt-info {
        text-align: center;
        width: 249px;
        margin-top: 25px;
        opacity: 0;
        visibility: hidden;
        margin-left: -85px;
    }

     .swiper-slide.swiper-slide-active{
       .bt-info {
           opacity: 1;
           visibility: visible;
        }
    }
}

.bt-testimonial-section-2 {
    position: relative;
    padding-bottom: 250px !important;
    margin-top: 40px;
    margin-bottom: -48px;

    .array-button {
        margin-top: -100px;
        justify-content: start;
    }

    @include breakpoint (max-xl){
        padding-bottom: 230px !important;
    }

    @include breakpoint (max-lg){
        padding-bottom: 210px !important;
    }

    &.style-inner {
        padding-bottom: 120px  !important;

         @include breakpoint (max-xl){
            padding-bottom: 100px !important;
        }   

    @include breakpoint (max-lg){
        padding-bottom: 80px !important;
    }
    }

     .line-top {
        position: absolute;
        top: -40px;
        left: 0;
        height: 92px;
       
    }

    .line-bottom {
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 138px;
    }

    .testimonial-shape-1 {
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .testimonial-shape-2 {
        position: absolute;
        bottom: 15%;
        left: 5%;
    }
}